/* FOOTER */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------------------Footer with social and legal links------------------*/

footer {
  border: 1px solid red;
  padding: 10px;
  width: 100%;
}

/*------------------FFOOTER SOCIAL------------------*/


.footer__container {
}

.footer__socials {
  display: flex;
  margin: 0 auto;
  font-size: 40px;
  list-style: none;
  width: 100%;
  max-width: 400px;
}

.discord {
  text-decoration: none;
  color: var(--main-discord);
}

.twitter {
  text-decoration: none;
  color: var(--main-twitter);
}

.github {
  text-decoration: none;
  color: var(--main-github);
}

/*------------------FOOTER LEGAL------------------*/


.footer__legal__container {
}

.footer__legal {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  font-size: 15px;
  list-style: none;
  width: 100%;
  max-width: 400px;
  padding-top: 30px;
}

.footer__legal a {
  color: var(--main-blue);
  text-decoration: none;
  font-weight: 600;
}

/*------------------FOOTER COPYRIGHT------------------*/

.footer__copyright__container {
  display: flex;
  padding-top: 30px;
  color: var(--main-blue);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.footer__copyright {
  text-align: center;
}