nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border: 1px solid var(--main-blue);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-weight: 600;
  letter-spacing: 2px;
}

nav li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: var(--main-blue);
  border: 1px solid transparent;
  padding: 5px;
}

.onpage__active {
  background-color: var(--main-blue);
  color: black;
}


@media screen and (min-width: 1024px) {  
  .nav__links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }

  nav li a:hover {
    background-color: var(--main-blue);
    color: black;
    border: 1px solid var(--main-blue);
  }
}