:root {
  --main-blue: #00ffff;
  --main-black: #000000;
  --main-white: #ffffff;
  --main-discord: #7289da;
  --main-twitter: #00acee;
  --main-github: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  padding: 20px;
  background-color: var(--main-black);
}

header {
  color: var(--main-blue);
  font-weight: 300;
  text-align: center;
}

#logo {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#backbutton {
  display: inline;
  color: var(--main-blue);
  background-color: var(--main-black);
  border: 1px solid var(--main-blue);
  padding: 5px;
  width: 70px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.welcome-text {
  display: flex;
  color: var(--main-blue);
  justify-content: center;
  position: relative;
  font-weight: 600;
  font-size: 30px;
  padding: 100px;
}

.index__h1 {
  color: var(--main-blue);
  text-align: center;
  font-size: 60px;
}

.index__h2 {
  color: var(--main-blue);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.index__portfolio__link {
  color: var(--main-blue);
}

.index__portfolio__link:hover {
  color: red;
}

.index__p__addiction {
  color: var(--main-blue);
  text-align: center;
  margin-top: 400px;
}

.portfolio__links__container {
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

.portfolio__h1 {
  color: var(--main-blue);
  text-align: center;
  font-size: 60px;
}

.portfolio__h2 {
  color: var(--main-blue);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

#link__button {
  color: black;
  border: 5px solid transparent;
  background-color: var(--main-blue);
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 35px;
}

/* #csmuseum {
  color: black;
  border: none;
  background-color: var(--main-blue);
  padding: 10px;
  width: 100%;
}

#eplesblog {
  color: black;
  border: none;
  background-color: var(--main-blue);
  padding: 10px;
  width: 100%;
} */

@media screen and (min-width: 1024px) {

  header {
    color: var(--main-blue);
    font-weight: 300;
    text-align: center;
  }

  #backbutton {
    display: none;
  }

  #backbutton:hover {
    color: var(--main-black);
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    cursor: pointer;
  }

  .welcome-text {
    display: flex;
    color: var(--main-blue);
    justify-content: center;
    position: relative;
  }

  #link__button:hover {
    border: 5px solid black;
    border-radius: 50px;
  }
}
