:root {
  --main-blue: #00ffff;
  --main-black: #000000;
  --main-white: #ffffff;
  --main-discord: #7289da;
  --main-twitter: #00acee;
  --main-github: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-black);
  font-family: "Poppins", sans-serif;
}

html {
  padding: 20px;
}

header {
  color: var(--main-blue);
  font-weight: 300;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

#logo {
  max-width: 100px;
}

#backbutton {
  display: none;
}

.welcome-text {
  display: flex;
  color: var(--main-blue);
  justify-content: center;
  position: relative;
  font-weight: 300;
  font-size: 40px;
  padding: 100px;
}


@media screen and (min-width: 1024px) {
  :root {
    --main-blue: #00ffff;
    --main-black: #000000;
    --main-white: #ffffff;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--main-black);
    font-family: "Poppins", sans-serif;
  }

  header {
    color: var(--main-blue);
    font-weight: 300;
    text-align: center;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  #logo {
    max-width: 200px;
    padding-top: 20px;
  }

  #backbutton {
    display: inline;
    color: var(--main-blue);
    background-color: var(--main-black);
    border: 1px solid var(--main-blue);
    padding: 5px;
    width: 70px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  #backbutton:hover {
    color: var(--main-black);
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    cursor: pointer;
  }

  .welcome-text {
    display: flex;
    color: var(--main-blue);
    justify-content: center;
    position: relative;
  }
}
